<footer class="main-footer">
  <div class="container footer">
    <div class="footer__item">
      <div class="footer-logo">
        <img src="./assets/images/logo.svg" alt="footer-logo" />
      </div>
      <p>اپلیکیشن درخواست خودرو</p>
      <p class="law">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است</p>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="#">وبلاگگ تپسی</a>
      <a href="#">تماس با ما</a>
      <a href="#">فرصت شغلی</a>
      <a href="#">استخدام بازاریاب</a>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="#">وبلاگگ تپسی</a>
      <a href="#">تماس با ما</a>
      <a href="#">فرصت شغلی</a>
      <a href="#">استخدام بازاریاب</a>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="#">وبلاگگ تپسی</a>
      <a href="#">تماس با ما</a>
      <a href="#">فرصت شغلی</a>
      <a href="#">استخدام بازاریاب</a>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="#">وبلاگگ تپسی</a>
      <a href="#">تماس با ما</a>
      <a href="#">فرصت شغلی</a>
      <a href="#">استخدام بازاریاب</a>
    </div>
    <div class="footer__item enemad">
      <div class="footer-enemad">
        <img src="./assets/images/enemad.png" alt="enemad" />
      </div>
      <div class="footer-enemad">
        <img src="./assets/images/enemad.png" alt="enemad" />
      </div>
      <div class="footer-enemad">
        <img src="./assets/images/enemad.png" alt="enemad" />
      </div>
    </div>
  </div>
</footer>
