<section class="container">
  <h2 class="block__heading">تعرفه های ویژه مشتریان</h2>
  <div class="block-plan">
    <div class="plan">
      <div class="card card-secondary">
        <div class="card-header">
          <span class="plan-introduction">
            <span class="plan-name">عادی</span>
            <span class="badge">off 10% </span>
          </span>
          <span class="paln-price">290,000</span>
          <span class="plan-billing">ماهانه / تومان</span>
          <span class="paln-description">سرویس ماشین های معمولی</span>
        </div>
        <div class="card-body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
          </ul>
          <button class="btn btn--secondary btn--block">ثبت سفارش</button>
        </div>
      </div>
    </div>
    <div class="plan plan--popular">
      <div class="card card-primary">
        <div class="card-header">
          <span class="plan-introduction">
            <span class="plan-name">اقتصادی</span>
            <span class="badge badge--primary">off 15% </span>
          </span>
          <span class="paln-price">390,000</span>
          <span class="plan-billing">ماهانه / تومان</span>
          <span class="paln-description">سرویس ماشین های کلاسیک</span>
        </div>
        <div class="card-body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت عالی</li>
            <li class="list__item">کم سر و صدا</li>
            <li class="list__item">زمان محدود</li>
            <li class="list__item">سرویس روزانه</li>
          </ul>
          <button class="btn btn--primary btn--block">ثبت سفارش</button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card-secondary">
        <div class="card-header">
          <span class="plan-introduction">
            <span class="plan-name">ویژه</span>
            <span class="badge">off 20% </span>
          </span>
          <span class="paln-price">490,000</span>
          <span class="plan-billing">ماهانه / تومان</span>
          <span class="paln-description">سرویس ماشین های مدل بالا</span>
        </div>
        <div class="card-body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت خیلی خفن</li>
            <li class="list__item">کم سر و صدا</li>
            <li class="list__item">زمان نامحدود</li>
            <li class="list__item">سرویس نامحدود</li>
          </ul>
          <button class="btn btn--secondary btn--block">ثبت سفارش</button>
        </div>
      </div>
    </div>
  </div>
</section>
