<section class="services container">
  <h2 class="services__title">سرویس های تپسی</h2>
  <div class="services__tabs">
    <a class="tab active" data-tab-target="nav-classic-tab">
      <img
        src="./assets/services-images/cc-classic.png"
        aria-label="classic service icon"
        alt="tapsi-classic-icon"
      />
      <p>تپسی کلاسیک</p>
    </a>
    <a class="tab" data-tab-target="nav-tel-tab">
      <img
        src="./assets/services-images/cc-tel.png"
        aria-label="tel service icon"
        alt="tapsi-tel-icon"
      />
      <p>تپسی تلفنی</p>
    </a>
    <a class="tab" data-tab-target="nav-line-tab">
      <img
        src="./assets/services-images/cc-line.png"
        aria-label="line service icon"
        alt="tapsi-line-icon"
      />
      <p>تپسی لاین</p>
    </a>
    <a class="tab" data-tab-target="nav-motopeyk-tab">
      <img
        src="./assets/services-images/cc-motopeyk.png"
        aria-label="motopeyk service icon"
        alt="motopeyk-icon"
      />
      <p>موتوپیک</p>
    </a>
    <a class="tab" data-tab-target="nav-autopeyk-tab">
      <img
        src="./assets/services-images/cc-autopeyk.png"
        aria-label="autopeyk service icon"
        alt="autopeyk-icon"
      />
      <p>اتوپیک</p>
    </a>
    <a class="tab" data-tab-target="nav-plus-tab">
      <img
        src="./assets/services-images/cc-plus.png"
        aria-label="plus service icon"
        alt="tapsi-plus-icon"
      />
      <p>تپسی پلاس</p>
    </a>
    <a class="tab" data-tab-target="nav-hamyar-tab">
      <img
        src="./assets/services-images/cc-hamyar.png"
        aria-label="hamyar service icon"
        alt="hamyar-icon"
      />
      <p>همیار</p>
    </a>
  </div>
  <div class="container">
    <div class="tab-content active" id="nav-classic-tab">
      <div class="feature__image">
        <img src="./assets/services-images/cc-classic.png" alt="i-mac" />
      </div>
      <div class="feature__detail">
        <h3 class="feature-title">خدمات تپسی برای کسب و کارها</h3>
        <p class="feature-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
          در شصت و سه درصد گذشته حال و آینده،
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-tel-tab">
      <div class="feature__image">
        <img src="./assets/services-images/cc-tel.png" alt="i-mac" />
      </div>
      <div class="feature__detail">
        <h3 class="feature-title">خدمات تپسی برای کسب و کارها</h3>
        <p class="feature-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
          در شصت و سه درصد گذشته حال و آینده،
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-line-tab">
      <div class="feature__image">
        <img src="./assets/services-images/cc-line.png" alt="i-mac" />
      </div>
      <div class="feature__detail">
        <h3 class="feature-title">خدمات تپسی برای کسب و کارها</h3>
        <p class="feature-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
          در شصت و سه درصد گذشته حال و آینده،
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-motopeyk-tab">
      <div class="feature__image">
        <img src="./assets/services-images/cc-motopeyk.png" alt="i-mac" />
      </div>
      <div class="feature__detail">
        <h3 class="feature-title">خدمات تپسی برای کسب و کارها</h3>
        <p class="feature-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
          در شصت و سه درصد گذشته حال و آینده،
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-autopeyk-tab">
      <div class="feature__image">
        <img src="./assets/services-images/cc-autopeyk.png" alt="i-mac" />
      </div>
      <div class="feature__detail">
        <h3 class="feature-title">خدمات تپسی برای کسب و کارها</h3>
        <p class="feature-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
          در شصت و سه درصد گذشته حال و آینده،
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-plus-tab">
      <div class="feature__image">
        <img src="./assets/services-images/cc-plus.png" alt="i-mac" />
      </div>
      <div class="feature__detail">
        <h3 class="feature-title">خدمات تپسی برای کسب و کارها</h3>
        <p class="feature-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
          در شصت و سه درصد گذشته حال و آینده،
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-hamyar-tab">
      <div class="feature__image">
        <img src="./assets/services-images/cc-hamyar.png" alt="i-mac" />
      </div>
      <div class="feature__detail">
        <h3 class="feature-title">خدمات تپسی برای کسب و کارها</h3>
        <p class="feature-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
          در شصت و سه درصد گذشته حال و آینده،
        </p>
      </div>
    </div>
  </div>
</section>
